<div class="fb_reset" id="fb-root">
    <div style=
                 "position: absolute; top: -10000px; height: 0px; width: 0px;">
        <div>
            <iframe frameborder="0" id="fb_xdm_frame_http" name=
                    "fb_xdm_frame_http" scrolling="no" src=
                            "http://static.ak.facebook.com/connect/xd_arbiter.php?version=28#channel=f2d9ebdcc&amp;channel_path=%2Fwis%2F%3Ffb_xd_fragment%23xd_sig%3Df36250d928%26&amp;origin=http%3A%2F%2Ftvdp.be"
                    style="border: none;" title=
                    "Facebook Cross Domain Communication Frame"></iframe><iframe frameborder="0"
                                                                                 id="fb_xdm_frame_https" name="fb_xdm_frame_https" scrolling=
                "no" src=
                                                                                         "https://s-static.ak.facebook.com/connect/xd_arbiter.php?version=28#channel=f2d9ebdcc&amp;channel_path=%2Fwis%2F%3Ffb_xd_fragment%23xd_sig%3Df36250d928%26&amp;origin=http%3A%2F%2Ftvdp.be"
                                                                                 style="border: none;" title=
                "Facebook Cross Domain Communication Frame"></iframe>
        </div>
    </div>

    <div style=
                 "position: absolute; top: -10000px; height: 0px; width: 0px;"></div>
</div>
<script>
    (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/nl_NL/all.js#xfbml=1";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>

<div class="container" data-ng-init="">
	<div class="row">
		<div  class="col-sm-4 notepad" >
			<div class="row" style="padding-bottom:13px">
				<div class="col-sm-12" style="margin:none; padding:none; vertical-align:bottom">
					<form method="get" >
						<input type="text" id="tfq" ng-model="search" autocomplete="off" class="tftextinput" name="q" size="21" maxlength="120" placeholder="Search event">
						<input type="submit" value=">" class="tfbutton" data-ng-click="reloadEvents()" >
					</form>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-12" >
					<form style="padding-bottom:5px">
						only if: <input type="checkbox" name="food" ng-model="st.food" ng-checked="true"  ng-true-value="1" ng-false-value="0" >
						<img src="img/food.png" style="max-height:20px; max-width:20px" title="food">
						<input type="checkbox" name="party" ng-model="st.party" ng-checked="true"   ng-true-value="1" ng-false-value="0" >
						<img src="img/party.png" style="max-height:20px; max-width:20px" title="party">
						<input type="checkbox" name="culture"  ng-model="st.culture" ng-checked="true"  ng-true-value="1" ng-false-value="0"  >
						<img src="img/culture.png" style="max-height:20px; max-width:20px" title="culture">
					</form>
				<!--</div>
				<div class="col-sm-7" style="margin:none; padding:none;" align="left">
					<div class="col-xs-7" style="size:inherit" >-->

						<select>
							<option value="date">date</option>
							<option value="rating">rating</option>
							<option value="distance">distance</option>
							<option value="price">price</option>
							<option value="name">name</option>
						</select>
					<!--</div>
					<div class="col-xs-5" align="left">-->
						<button type="button" class="btn btn-info btn-xs">
						<span class="glyphicon glyphicon-chevron-down"></span>
						</button>
					<!--</div>
					<div class="col-xs-2" align="left">-->
						<button type="button" class="btn btn-info btn-xs">
						<span class="glyphicon glyphicon-chevron-up"></span>
						</button>
					<!--</div>-->

				</div>
			</div>
			<div class="row" id="theEvents" style="height:300px;overflow:scroll; margin-left:3px; margin-right:15px">

				<div id="accordion" >
					<h3 ng-repeat-start="event in events |filter:search | isStatus:st">{{event.title}}-{{event.startdatetime }}</h3>
					<div ng-repeat-end testdirective="">
						<img src="img/u/{{event.image}}" style="max-height:50%; max-width:40%;" float:left ">
						<p style="float:right ">
							 {{event.description}} </br>{{event.combi}}</br>
							 <img src="img/food.png" ng-show="{{event.food}}" style="max-height:20px; max-width:20px" title="food">
							 <img src="img/party.png" ng-show="{{event.party}}" style="max-height:20px; max-width:20px" title="food">
							 <img src="img/culture.png" ng-show="{{event.culture}}" style="max-height:20px; max-width:20px" title="food">
							<a href='#' class="seemore " style="color:#0072bc "> see more</a>
							<h6>Posted by <a href="#/profile?id={{event.userid}}">{{event.username}}</a></h6>
						</p>
					</div>
				</div>
			</div>
		</div>
		<div class="col-sm-8 ">
			<div class="notepad">
				<div id="title ">
					<h4>Welcome to What's up Brussel</h4> Brussels, welcome, thetags
					
				</div>
				<div class="row ">
					<div class="col-sm-3 " id="maps ">

                        <div id="map_home"  style="height:200px; width:150px; margin: 0 auto ">
                        </div>
                        <div id="panel">
                            <b>Mode of Travel: </b>
                            <select id="mode" onchange="calcRoute();">
                                <option value="DRIVING">Driving</option>
                                <option value="WALKING">Walking</option>
                                <option value="BICYCLING">Bicycling</option>
                                <option value="TRANSIT">Transit</option>
                            </select>
                        </div>
                        <b>Where:</b>
                        <div id="streetnr">
                            Vrijheidslaan 2
                        </div>

                        <div id="cityencode">
                            1000 Brussel
                        </div>

                        <div>
                            Belgium
                        </div>
					</div>
					<div class="col-sm-6 " id="description " >
					    <div style="overflow:scroll; height:210px ">On this site you can view, add, rate and comment on events that are happening in Brussels.</br>
					The events could be a multitude of things like parties, good food places, cultural events, ...</br>
					All these events are PUBLIC this means that everybody can see and attend them.
                        </div>
                        <div  style="overflow:auto; height:100px;">
                            <!--<div class="fb-comments" data-href="<?php echo 'http://myurl.com?id=' . $_GET['id']; ?>" data-width="470" data-num-posts="5"></div>
-->
                            <div class="fb-comments" data-href="http://www.tvdp.be/wis" data-width="300" data-numposts="5" data-colorscheme="light">
                            </div>
                        </div>
						</div>
					<div class="col-sm-3 " id="image ">
						<img src="img/logo.png " style="max-height:50%; max-width:40% ">
						<div id="rating ">
							 <b>rating :</b></br>
							<fieldset class="rating ">
								<input type="radio " id="star5 " name="rating " value="5 " /><label for="star5 " title="Rocks! ">5 stars</label>
								<input type="radio " id="star4 " name="rating " value="4 " /><label for="star4 " title="Pretty good ">4 stars</label>
								<input type="radio " id="star3 " name="rating " value="3 " /><label for="star3 " title="Meh ">3 stars</label>
								<input type="radio " id="star2 " name="rating " value="2 " /><label for="star2 " title="Kinda bad ">2 stars</label>
								<input type="radio " id="star1 " name="rating " value="1 " /><label for="star1 " title="Sucks big time ">1 star</label>
							</fieldset>
							</br>
						</div>
						<div id="pricing " class="pricing">
							</br>
							<b>Price:</b> 
								<div class="row" style="padding-left:20px">
									<div id="minprice" style="float:left" >
									0&euro;
									</div>
									<div style="float:left">
									-</div>
									<div id="minprice" style="float:left" >
										0&euro;
									</div>
								</div>
							
						</div>
						<div >
							</br>
							<b>when: </b>
							<div id="date">
							</div>
						</div>

                        <div id="place " class="col-sm-3">
                            <input type="button" id="addCalendarEvent" class="btn-info" value="add to your calendar" />

                        </div>
						
					</div>
				</div>

			</div>
		</div>
	</div>
</div>

