<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN">

<html data-ng-app="wisApp">
<head>
	<script src="https://apis.google.com/js/client.js?onload=handleClientLoad"></script>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
	<script src="https://apis.google.com/js/client.js?onload=handleClientLoad"></script>
	<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/themes/smoothness/jquery-ui.min.css">
	<link href="css/bss.css" rel="stylesheet">
	<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.4/angular.min.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.4/angular-route.js"></script>
	<script src="//code.angularjs.org/1.2.4/angular-animate.js"></script>
	<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
	<script src="js/gmaps.js"></script>
	
	<link href='css/fullcalendar.css' rel='stylesheet' />
	<link href='css/fullcalendar.print.css' rel='stylesheet' media='print' />
	<script src='js/fullcalendar.min.js'></script>
	<script src='js/gcal.js'></script>

	<script src='js/calmap.js'></script>
	<script src="js/ajsc.js"></script>
	

	<!--[if lte IE 8]>
	  <script>
		document.createElement('ng-include');
		document.createElement('ng-pluralize');
		document.createElement('ng-view');
 
		// Optionally these for CSS
		document.createElement('ng:include');
		document.createElement('ng:pluralize');
		document.createElement('ng:view');
	  </script>
	<![endif]-->

	<title></title>
</head>

<body style="background-color:#ddd">
	<div class="navbar navbar-default navbar-static-top">
		<div class="container">
			<div class="row">
				<div class="col-sm-4 "><img src="img/logo.png" style="max-height:50%; max-width:50%"></div>

				<div class="col-sm-8">
					<button class="navbar-toggle" data-target=".navHeaderCollapse" data-toggle="collapse">MENU</button>

					<div class="collapse navbar-collapse navHeaderCollapse" style="align:bottom; margin-top:50px;">
						<ul class="nav navbar-nav navbar-right">
						<li mn id="mn_home"><a href="#/"> HOME </a>
						</li>
						<li mn id="mn_cal"><a href="#/calendar"> CALENDAR </a>
						</li>
						<li mn id="mn_prof"><a href="#/profile"> PROFILE </a>
						</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- END HEADER -->
	
	<!-- Placeholder for view -->
<div data-ng-view=""></div>
	


	
	
</body>
</html>