<div class="container">
		<div class="col-sm-4">
			<img class="notepad" src="img/me.jpg" style="max-width:100%" align="center" />
		</div>
		<div class="col-sm-8 notepad">
			<div class="row">
				<div class="col-sm-6">
					<div id="name">
						<b> name:</b></br>
						WIS groep 3</br>
					</div>
					</br>
					<div id="Username">
						<b> Username:</b></br>
						What'sUp</br>
					</div>
					</br>
					<div id="address">
						<b> address:</b></br>
						Pleinlaan 2 </br>
						1100 Elsene</br>
						Belgium
					</div>
				</div>
				<div class="col-sm-6">
					<div id="address">
						<b> Mailadress:</b></br>
						tvdp@vub.be
					</div>
					</br>
					<button class="btn-info">
					edit profile </button>
				</div>
			</div>
		</div>
</div>