<form class="form-horizontal">
<fieldset>

<!-- Form Name -->
<legend>Sign Up</legend>

<!-- Text input-->
<div class="control-group">
  <label class="control-label" for="new_username"></label>
  <div class="controls">
    <input id="new_username" name="new_username" type="text" placeholder="Username" class="input-xxlarge" required="">
    
  </div>
</div>

<!-- Text input-->
<div class="control-group">
  <label class="control-label" for="new_firstname"></label>
  <div class="controls">
    <input id="new_firstname" name="new_firstname" type="text" placeholder="First Name" class="input-large" required="">
    
  </div>
</div>

<!-- Text input-->
<div class="control-group">
  <label class="control-label" for="new_lastname"></label>
  <div class="controls">
    <input id="new_lastname" name="new_lastname" type="text" placeholder="Last Name" class="input-large" required="">
    
  </div>
</div>

<!-- Text input-->
<div class="control-group">
  <label class="control-label" for="new_email"></label>
  <div class="controls">
    <input id="new_email" name="new_email" type="text" placeholder="Your Email" class="input-xxlarge" required="">
    
  </div>
</div>

<!-- Text input-->
<div class="control-group">
  <label class="control-label" for="new_emailcheck"></label>
  <div class="controls">
    <input id="new_emailcheck" name="new_emailcheck" type="text" placeholder="Re-enter Email" class="input-xxlarge" required="">
    
  </div>
</div>

<!-- Password input-->
<div class="control-group">
  <label class="control-label" for="new_password"></label>
  <div class="controls">
    <input id="new_password" name="new_password" type="password" placeholder="New Password" class="input-large" required="">
    
  </div>
</div>

<!-- Password input-->
<div class="control-group">
  <label class="control-label" for="new_passwordcheck"></label>
  <div class="controls">
    <input id="new_passwordcheck" name="new_passwordcheck" type="password" placeholder="Re-enter New Password" class="input-large" required="">
    
  </div>
</div>

<!-- Button -->
<div class="control-group">
  <label class="control-label" for="singlebutton">Single Button</label>
  <div class="controls">
    <button id="singlebutton" name="singlebutton" class="btn btn-primary">Button</button>
  </div>
</div>

</fieldset>
</form>